<!DOCTYPE html>
<html ng-app="Selecta">
<head>
  <title>SelectaOfficial</title>
  <script src="https://connect.soundcloud.com/sdk.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<script type="text/ng-template" id="track.html">
  <div ng-controller="TrackController as TC">
    <h1 style="color:blue">{{selected_song.title}}</h1>
    <img ng-src="{{ selected_song.artwork_url }}"/>
    </br>
    <button class="btn btn-default" ng-click="play()" id='play'>Play</button>
    <button class="btn btn-default" ng-click="stop()">Pause</button>
    <button class="btn btn-default" ng-click="like()">Like</button>
    <button class="btn btn-default" ng-click="next()">Next</button>
  </div>
</script>

<script type="text/ng-template" id="home.html">
  <div class="container-fluid">
    <h2 data-typer-targets="Hello,Hi,Hola,Hallo,Haai,Ola,Kaixo,Moni,Aloha,Bonjour,Ciao,Hej">Welcome</h2>
    <script>
      $(function () {
        $('[data-typer-targets]').typer();
      });
    </script>
  </div>
</script>

<script type="text/ng-template" id="results.html"></script>

<script type="text/ng-template" id="likeHistory.html">
  </div>
    <ul class="list-group" ng-repeat="like in likes">
      <li class="list-group-item">
        <a ng-href="#/track/{{like.id}}" >{{like.title}}</a>
      </li>
    </ul>
  </div>
</script>

<body>

<%= notice %>
<%= yield %>

</body>
</html>
