<!DOCTYPE html>
<html ng-app="Selecta">
<head>
  <title>SelectaOfficial</title>
  <script src="https://connect.soundcloud.com/sdk.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<script type="text/ng-template" id="track.html">
  <div ng-controller="TrackController as TC">
    <div class="page-header">
      <h1 style="color:blue">{{selected_song.title}}</h1>
      <img ng-src="{{ selected_song.artwork_url }}"/>
      <button ng-click="play()" id='play'>Play</button>
      <button ng-click="stop()">Pause</button>
      <button ng-click="like()">Like</button>
      <button ng-click="next()">Next</button>
    </div>
  </div>
</script>


<body>

  <div id="user_nav">
    <% if logged_in? %>
      Welcome, <%= current_user.email %>
      <%= link_to "Log out", log_out_path %>
    <% else %>
      <%= link_to "Sign up", sign_up_path %> or
      <%= link_to "log in", log_in_path %>
    <% end %>
  </div>

<%= notice %>
<%= yield %>

</body>
</html>
