<!DOCTYPE html>
<html ng-app="Selecta">
<head>
  <title>SelectaOfficial</title>
  <script src="https://connect.soundcloud.com/sdk.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<script type="text/ng-template" id="track.html">
  <div ng-controller="TrackController as TC">
    <div class="page-header">
      <h1 style="color:blue">{{selected_song.title}}</h1>
      <img ng-src="{{ selected_song.artwork_url }}"/>
      <button ng-click="play()" id='play'>Play</button>
      <button ng-click="stop()">Pause</button>
      <button ng-click="like()">Like</button>
      <button ng-click="next()">Next</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="home.html">
  <h2 data-typer-targets="Hello,Hi,Hola,Hallo,Haai,Ola,Kaixo,Moni,Aloha,Bonjour,Ciao,Hej">Welcome</h2>
  <script>
    $(function () {
      $('[data-typer-targets]').typer();
    });
  </script>
</script>

<script type="text/ng-template" id="likeHistory.html">
  </div>
    <ul ng-repeat="like in likes">
      <li>
        <a ng-href="#/track/{{like.id}}" >{{like.title}}</a>
      </li>
    </ul>
  </div>
</script>

<body>

<%= notice %>
<%= yield %>

</body>
</html>
